<form class="form-horizontal">
    <div class="control-group" >
        <label class="control-label">{{ _('Bed Key Temperature') }}</label>
        <div class="controls">
                <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: settings.plugins.print_queue.bed_temp"> 
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Print Key Temperature') }}</label>
        <div class="controls">
                <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: settings.plugins.print_queue.print_temp">
        </div>
    </div>
</form>
